th, td {
	padding: 2px;
}
body {
	font-family: verdana; 
	line-height: 1.5;
	font-size: 16px;
	padding: 20px 30px;
}
.title {
	font-size: 50px;
}
/*
.title {
	font-weight: normal;
	font-size: 50px;
}
*/
.subtitle {
	font-weight: normal;
	font-size: 25px;
}

.button:hover {
  background-color: #777777; 
  color: white;
}
.button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 8px 8px;
  margin: 5px 0px 5px 0px;  
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

